.cart-container {
    margin-bottom: 25px;
    box-shadow: 3px 3px 15px gainsboro;
    border-radius: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cart-container img {
    width: 100px;
    margin: 10px;
    border-radius: 10px;
}

.cart-container button {
    margin-bottom: 10px;
}